.app {
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.app main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

main .sidebar {
    background-color: #000;
    z-index: 2;
    width: 180px;
}

@media screen and (max-width: 576px) {
    main .sidebar {
        width: 60px;
    }
    
}

main .content {
    background-color: #141922;
    height: 100%;
    overflow-y: scroll;
}

.content .topbar {
    background-color: #000;
    opacity: 0.5;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;

}

.button {
    font-weight: 700;
    padding: 15px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.topbar-button {
    display: flex;
    justify-content: right;
    align-items: center;
}
