.app {
    height: 100vh;
}

.app main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

main .sidebar {
    background-color: #000;
}

main .content {
    background-color: #141922;
}