.app {
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.app main {
    height: calc(100vh - 90px);
}

footer {
    height: 90px;
    background-color: #282828;
}

main .sidebar {
    background-color: #000;
    z-index: 2;
}

main .content {
    background-color: #141922;
    height: 100%;
    overflow-y: scroll;
}

.content .topbar {
    background-color: #000;
    opacity: 0.5;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    
}

.box {
    width: 200px;
    height: 200vh;
    background-color: aqua;
    margin-top: 80px;
}